<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div>
      <div class="menu">
        <ul>
          <li class="main">Abhi Sharma</li>
          <li><a href="/about">about</a></li>
          <li><a href="/marginalia">marginalia</a></li>
          <li><a href="/essays">essays</a></li>
          <li><a href="/thoughts">thoughts/annum</a></li>
          <li><a href="/manifesto">manifesto</a></li>
        </ul>
      </div>
      <div class="container">
        {{ content }}      
      </div>
    </div>
  </body>
</html>
